.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: #FFFFFF;

  width: 100%;
  height: 64px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  @media (max-width: 1200px) {
    padding: 0 16px;
  }

  .header-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    .header-navigation-element-logo {
      height: 24px;
      cursor: pointer;
    }

    .header-navigation-element {
      cursor: pointer;

      @media (max-width: 1200px) {
        display: none;
      }
    }
  }

  .header-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    @media (max-width: 1200px) {
      gap: 6px;
    }

    .header-actions-element {
      height: 32px !important;
      padding: 8px !important;
      font-size: 14px !important;
      font-weight: 500 !important;
      line-height: 16px !important;
      letter-spacing: 0 !important;

      @media (max-width: 1200px) {
        &.button-secondary {
          display: none;
        }
      }
    }

    .header-actions-element-mobile {
      display: none;

      @media (max-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }
}

.modal-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;

  .header {
    position: static;
    height: 64px;

    .header-navigation-element-logo {
      height: 24px;
    }
  }

  .header-navigation {
    display: flex;
    height: calc(100% - 64px);
    flex-direction: column;
    padding: 16px;
    gap: 10px;

    .header-navigation-element {
      cursor: pointer;
    }

    .text-s {
      color: #1E2329;
    }

    .header-actions-element {
      margin-top: auto;
    }
  }
}